<h1>Tasks</h1>

<%= session[:role] %>

<% @tasks.each do |task| %>
    <section class="task-container" >
    <%= link_to task.name, task_path(task) %>

    <% if task.open %>
    <p class="task-status green" >Open</p>
    <% else %>
    <p class="task-status red" >Closed</p>
    <% end %>

    </section>
<%end%>
<section class="new-task" >
    <%= link_to "New Task", new_task_path %>
</section>
