/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

section.task-container {
    margin: 10px 0;
    padding: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 10px;
}

section.task-container a {
    text-decoration: none;
    font-size: 1.5em;
    color: black
}

p.task-status {
    font-size: 15px;
    font-weight: 900;
}

p.green {
    color: green;
}

p.red {
    color: red;
}

section.new-task {
    height: fit-content;
    width: fit-content;
}

section.new-task a {
    font-size: 1em;
    padding: 8px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 250ms;
}

section.new-task a:hover {
    background-color: white;
    color: black;
    transition: 250ms;
}
